.vscode/

build/

*.gz
*.xz
*.deb
dist/
changelog
version
md5sums

src/makemkv/tmp/

debian/reel/
debian/reel-common/
debian/reel-gtk/
debian/reel-qt/
debian/libmakemkv/
debian/makemkv-bin/
debian/mmccextr/
debian/mmgplsrv/
out/
makemkv/tmp/

debian/.debhelper/

debian/*.substvars
debian/files

__pycache__/

build-stamp
