Source: ripper
Section: video
Priority: optional
Maintainer: MLS Tidbits <contact@mlstidbits.com>
Build-Depends: debhelper-compat (= 13), autotools-dev
Standards-Version: 4.6.0
Homepage: https://mlstidbits.com
Vcs-Browser: https://github.com/MLSTidbits/rippr
#Vcs-Git: https://github.com/MLSTidbits/rippr.git
Rules-Requires-Root: no

Package: ripper
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GTK Frontend for MakeMKV written in Python.
 Ripper uses MakeMKV to rip DVDs and Blu-rays, and provides a user-friendly
 interface to manage the ripping process.
